{% extends '../index_master.html' %}
{% block content %}
<div class="right_col" role="main"> 
<h1>Alta de ensayos y perfiles en sistema</h1>
<div class="bootstrap-iso">
    <div class="container-fluid">
     <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
       <form action='altaEnsayos' method="POST">
        {% csrf_token %}
        <div class="form-group ">
         <label class="control-label requiredField" for="name1">
          Nombre
          <span class="asteriskField">
           *
          </span>
         </label>
         <div class="input-group">
          <div class="input-group-addon">
           <i class="fa fa-user">
           </i>
          </div>
          <input class="form-control" id="NombreSolicitante" name="NombreSolicitante" placeholder="Nombre Solicitante" type="text"/>
         </div>
        </div>
        <div class="form-group ">
         <label class="control-label requiredField" for="select">
          Area Solicitante
          <span class="asteriskField">
           *
          </span>
         </label>
         <select class="select form-control" id="AreaSolicitante" name="AreaSolicitante">
          <option value="Order Entry">
           Order Entry
          </option>
          <option value="Clinicos">
           Clinicos
          </option>
          <option value="Dirección Técnica">
            Dirección Técnica
          </option>
         </select>
        </div>
        <div class="form-group ">
         <label class="control-label requiredField" for="date">
          Fecha de Solicitud
          <span class="asteriskField">
           *
          </span>
         </label>
         <div class="input-group">
          <div class="input-group-addon">
           <i class="fa fa-calendar">
           </i>
          </div>
          <input class="form-control" id="FechaSolicitud" name="FechaSolicitud" placeholder="DD/MM/YYYY" type="date"/>
         </div>
        </div>
        <div class="form-group ">
         <label class="control-label requiredField">
          Palomea las opciones que requieren del alta
          <span class="asteriskField">
           *
          </span>
         </label>
         <div class=" ">
          <div class="checkbox" name="opciones">
           <label class="checkbox">
            <input name="checkbox1" type="checkbox" value="Intercambio"/>
            Intercambio
           </label>
          </div>
          <div class="checkbox">
           <label class="checkbox">
            <input name="checkbox2" type="checkbox" value="Por Cobrar"/>
            Por Cobrar
           </label>
          </div>
          <div class="checkbox">
           <label class="checkbox">
            <input name="checkbox3" type="checkbox" value="Pasteur"/>
            Pasteur
           </label>
          </div>
          <div class="checkbox">
           <label class="checkbox">
            <input name="checkbox4" type="checkbox" value="Modulab"/>
            Modulab
           </label>
          </div>
         </div>
        </div>
        <div class="form-group ">
         <label class="control-label requiredField" for="text">
          Proyecto
          <span class="asteriskField">
           *
          </span>
         </label>
         <input class="form-control" id="Proyecto" name="Proyecto" placeholder="A qué proyecto pertenece" type="text"/>
        </div>
        <div class="form-group ">
         <label class="control-label requiredField" for="text1">
          Clave Privada / Clave Pasteur
          <span class="asteriskField">
           *
          </span>
         </label>
         <div class="input-group">
          <div class="input-group-addon">
           <i class="fa fa-flask">
           </i>
          </div>
          <input class="form-control" id="clavePrueba" name="clavePrueba" placeholder="Clave de la prueba" type="text"/>
         </div>
        </div>
        <div class="form-group ">
         <label class="control-label requiredField" for="text2">
          Nombre del Ensayo
          <span class="asteriskField">
           *
          </span>
         </label>
         <div class="input-group">
          <div class="input-group-addon">
           <i class="fa fa-check-square-o">
           </i>
          </div>
          <input class="form-control" id="NombreEnsayo" name="NombreEnsayo" placeholder="Nombre de la prueba" type="text"/>
         </div>
        </div>
        <div class="form-group ">
         <div class="">
          <div class="radio">
           <label class="radio">
            <input name="radio1" type="radio" value="type"/>
            Ensayo
           </label>
          </div>
          <div class="radio">
           <label class="radio">
            <input name="radio2" type="radio" value="type"/>
            Perfil
           </label>
          </div>
         </div>
        </div>
        <div class="form-group ">
         <label class="control-label requiredField" for="select1">
          Laboratorio
          <span class="asteriskField">
           *
          </span>
         </label>
         <select class="select form-control" id="select1" name="select1">
          <option value="Clinicos">
           Clinicos
          </option>
          <option value="Hematolog&iacute;a">
           Hematolog&iacute;a
          </option>
          <option value="Biolog&iacute;a Molecular">
           Biolog&iacute;a Molecular
          </option>
          <option selected="selected" value="">
          </option>
         </select>
        </div>
        <div class="form-group ">
         <label class="control-label requiredField" for="select2">
          Tipo de muestra
          <span class="asteriskField">
           *
          </span>
         </label>
         <select class="select form-control" id="select2" name="select2">
          <option value="Suero">
           Suero
          </option>
          <option value="Sangre">
           Sangre
          </option>
          <option value="Orina">
           Orina
          </option>
          <option selected="selected" value="">
          </option>
         </select>
        </div>
        <div class="form-group ">
         <label class="control-label requiredField" for="text3">
          Condiciones para la muestra
          <span class="asteriskField">
           *
          </span>
         </label>
         <div class="input-group">
          <div class="input-group-addon">
           <i class="fa fa-check-square-o">
           </i>
          </div>
          <input class="form-control" id="text3" name="text3" type="text"/>
         </div>
        </div>
        <div class="form-group ">
         <label class="control-label requiredField" for="text4">
          Motivos de rechazo
          <span class="asteriskField">
           *
          </span>
         </label>
         <div class="input-group">
          <div class="input-group-addon">
           <i class="fa fa-check-square-o">
           </i>
          </div>
          <input class="form-control" id="text4" name="text4" type="text"/>
         </div>
        </div>
        <div class="form-group ">
         <label class="control-label requiredField" for="text5">
          Tiempo de Entrega
          <span class="asteriskField">
           *
          </span>
         </label>
         <div class="input-group">
          <div class="input-group-addon">
           <i class="fa fa-calendar-check-o">
           </i>
          </div>
          <input class="form-control" id="text5" name="text5" type="text"/>
         </div>
        </div>
        <div class="form-group ">
         <label class="control-label " for="text6">
          Precio
         </label>
         <div class="input-group">
          <div class="input-group-addon">
           <i class="fa fa-money">
           </i>
          </div>
          <input class="form-control" id="text6" name="text6" type="text"/>
         </div>
        </div>
        <div class="form-group">
         <div>
          <button class="btn btn-primary " name="submit" type="submit">
           Enviar
          </button>
         </div>
        </div>
        
       </form>
      </div>
     </div>
    </div>
   </div>
</div>
{% endblock %}